DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=ai_chat_user
DATABASE_PASSWORD=ai_chat_password
DATABASE_NAME=ai_chat

##docker exec -it ai-chat-mysql mysql -uai_chat_user -pai_chat_password ai_chat